body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#imgArticulo{
  width: 100%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.text-primary{
  color: black !important;
}

.bg-gradient-primary{
  background-color: rgb(199, 175, 43) !important;
  background-image: none;
}

.sidebar-brand-text{
  text-transform: none;
  font-size: 35px;
}

#background-panel {
  background-color: gold;
}